body{
font-family:Arial;
background:#f5f5f5;
margin:20px;
}

h1{
text-align:center;
}

.media{
text-align:center;
margin-bottom:30px;
}

.media img{
width:70%;
border-radius:10px;
}

.media video{
width:70%;
margin-top:10px;
}

audio{
margin-top:10px;
}

.event{
border:1px solid #ccc;
padding:15px;
margin-bottom:20px;
background:white;
border-radius:5px;
}

.details{
margin-top:10px;
}

button{
padding:8px 12px;
margin-top:10px;
cursor:pointer;
}

input{
width:250px;
padding:5px;
margin-bottom:10px;
}

#message{
font-weight:bold;
margin-top:15px;
}